.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
}

.node-finish {
  background-color:transparent !important;
  background-image: url("../../assets/images/finish.png");
  background-position: center;
  background-size: contain;
  position: relative;
  cursor: pointer;
}

.node-start {
  background-color: transparent !important;
  background-image: url("../../assets/images/start.png");
  background-position: center;
  background-size: contain;
  position: relative;
  cursor: pointer;

}

.node-start:hover::after{
  position: absolute;
  content: "start";
  top: -22px;
  left: 0;
  font-size: 11px;
  color:  white;
  background-color:black ;
  padding: 5px;
  border-radius: 5px;
  font-weight: 700;

}
.node-finish:hover::after{
     position: absolute;
    content: "finish";
    top: -22px;
    left: 0;
    font-size: 11px;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
}

.node-wall-fade-in {
  background-color: rgb(12, 53, 71);
  animation: fadeIn ease-in 300ms;
}

.node-wall-fade-out{

animation: fadeOut ease-out 300ms;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
    
  }
  100%{
   opacity: 1;
  }
}
  @keyframes fadeOut {
    0%{
      
      background-color: rgb(12, 53, 71);
    }
    100%{
     
      background-color: transparent;
    }
  }

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}
